body{
  padding: 0;
  padding-top: 100px;
  margin: 0;
  height: 100%;
  background-color: #d5ecc2;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  font-family: "Ubuntu", sans-serif;
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
h1, h2, h3, h4, h5, h6{
  font-family: "Roboto", sans-serif;
}
nav{
  background-color: #98ddca;
  padding: 0;
  margin: 0;
  margin-bottom: 100px;
}
a{
  text-decoration: none;
}
.nav-link{
  font-size: 18px;
  color: #fa8884;
  margin-right: 20px;
}
.nav-link:hover{
  text-decoration: underline;
  font-weight: 500;
  color: #f7807c;
}
.brand-name{
  font-family: 'Dancing Script', cursive;
  color: #fa8884;
}
.navbar-brand:hover{
  color: #fa8884;
}
.navbar-toggler{
  color: #fa8884;
}
.navbar-toggler-icon{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(250, 136, 132)' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}
.navbar-toggler:focus{
  box-shadow: none;
}
.btn-custom{
  color:#fff;
  background-color:#fa8884;
}
.btn-custom:hover{
  text-decoration: underline;
  font-weight: 500;
  color:#fff;
  background-color:#fa8884;
}
.text-align{
  text-align: center;
}
/*take a tour*/
.block{
  background-color: rgba(250, 136, 132, 0.7);
  border-radius: 25px;
  padding: 5vh;
  margin: 5vh 10vw;
}
.block-image{
  height: 30vh;
  margin: 2vh auto;
}
.block-content{
  margin: 2vh auto;
}
/*memories page*/
.memories-title{
  text-align: center;
  font-family: 'Satisfy', cursive;
  color:#fa8884;
  opacity: 0.8;
}
.memory-display{
  display: inline-block;
  margin: 1%;
  margin-top: 3%;
  margin-right: 3%;
}
.memory-date{
  text-align: center;
  border-radius: 25px 25px 0 0;
  word-wrap: break-word;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 0;
  padding-top: 2%;
  width: 300px;
  height: 40px;
}
.memory-description{
  text-align: center;
  border-radius: 0;
  word-wrap: break-word;
  background-color: #fff;
  opacity: 0.6;
  margin-bottom: 0;
  padding: 3% 2% 2% 2%;
  width: 300px;
  height: 130px;
}
.icons{
  display: flex;
  justify-content: flex-end;
  background-color: #fff;
  border-radius: 0 0 25px 25px;
  margin: 0;
  width: 300px;
  height: 40px;
}
.icons .fa{
  font-size: 1.5em;
  color: #fa8884;
  margin: auto 10px;
  padding-top: 3px;
}
.modal{
  text-align: center;
}
.add-memory{
	position:fixed;
  right: 40px;
  bottom: 0px;
	padding:0px;
	margin:0px;
}
.add-memory ul{
  list-style:none;
}
.add-memory ul li{
	padding:10px;
	font-size:15px;
	transition:all 0.5s ease-in-out;
	border-radius: 50%;
	background-color:#fa8884;
}
.add-memory ul li:hover{
    box-shadow:0px 0px 20px #828181;
}
.add-memory ul li:hover .fa{
    margin:8px;
}
.add-memory ul li .fa{
  color:#fff;
  transition:all 0.5s ease-in-out;
  margin:5px;
}
/*signup, signin pages*/
.middle{
  margin: 7px auto;
}
#passwordMessage{
  background-color: #faeceb;
  display: none;
  padding: 20px;
  margin-bottom: 16px;
  position: relative;
}
#passwordMessage p{
  padding: 5px 25px;
}
.valid {
  color: #008000;
}
.valid:before {
  position: relative;
  left: -20px;
  content: "✔";
}
.invalid {
  color: #ff0000;
}
.invalid:before {
  position: relative;
  left: -20px;
  content: "✖";
}
.right-text{
  padding: 0;
  text-align: right;
}
.fa-1-5x{
  font-size: 1.5em;
}
/* contact page styling */
.contact-style{
  font-weight: 700;
}
.top-gap{
  margin-top: 40px;
}
.btn-style{
  margin-top: 20px;
}
.form{
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 30px;
  border-radius: 25px;
  background-color: #ffd3b4;
}
.required-field{
  display: inline;
  color: #ff0000;
}
/*success, failure pages*/
.jumbotron{
  background-color: rgba(250, 136, 132, 0.8);
  color: #000;
  border-radius: 25px;
  padding: 50px;
}
/*new page styling*/
.top-input{
  border-radius: 0;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}
.middle-input{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-width: 0;
  border-bottom-width: 0;
}
.bottom-input{
  border-radius: 0;
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
}
